body {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    color: blue;
  }
  
  #myParagraph {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #myButton {
    background-color: lightgreen;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }